h1 {
	color: #4CAF50;
	font-size: 4em;
	font-weight: bold;
	margin: 0.5em 0;
	text-align: center;
}

.calibrations-icon, .loading-gears{
	color: #4CAF50;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0.5em 0;
	text-align: center;
	cursor: pointer;
}

.valid-certificate-icon {
	color: #4CAF50;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

.expired-certificate-icon {
	color: #fc0707;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
}

.login-session-expired {
	color: red;
	font-size: larger;
}

.cal-list-item, .cal-note {
	background-color: aliceblue;
	border-radius: 15px;
	padding: 10px;
}

.sensor-info-span {
	color:#4CAF50;
	font-weight: bold;

}

.user-login-wrapper {
	width: 50%;
	color: white;
	background-color: #4CAF50;
	border-radius: 10px;
	padding: 10px 0px;
	box-shadow: 1px 2px 5px 5px #bcf5be;
}

.user-email-span {
	color: rgb(217, 250, 54);
}